@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 230, 241, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 10, 10;
  }
}

html {
  background: rgb(var(--background-start-rgb));
}

body {
  @apply bg-gradient-to-br from-sky-50 to-sky-100;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gradient-to-br from-gray-900 to-gray-950;
  }
}

#root {
  min-width: 100vw;
  margin: 1rem;
}
